#div_1 {
    border: 1px solid black;
    padding: 11px;
}

#div_2 img {
    float: left;
    margin-right: 8px;
    width: 300px;
    height: 200px;
}

.front-box {
    position: fixed; /* Fixed means it stays in place when scrolling */
    top: 124px;
    left: 124px;
    width: 425px;
    height: 425px;
    z-index: 10;
    background-color: grey;
  }